table(class="table")
    thead
    tr
        th(scope="col")= 'Název činnosti'                        
        th= 'Start'
        th= 'Konec'
        th= 'Celkový čas'
        th= 'Klient'
        th= 'Čtečka'        

    tbody                
    each r in out.records
        tr

        td= r.name
        td= r.start
        td= r.end                  
        td= r.totalTime
        td= r.client
        td= r.reader
            <br/>
            <a href="javascript:void(0)" class="record-detail edit" data-id="#{r.id}">edit</a>
            <a href="javascript:void(0)" class="record-detail delete" data-id="#{r.id}">smaž</a>
    tfoot
        tr
          td= 'Suma:'
          td
          td
          td= out.timeSum
          td
          td
          
if out.length == 0
    center Nebyly nalezeny žádné záznamy!