extends layout
  
block content
  h1= 'Výstup'
  table
    thead
      tr
        th= 'Nazev cinnosti'
        th= 'celkovy cas'
        th= 'klient'
        th= 'ctecka'
    tbody                
      each r in out
        tr
          td= r.name
          td= r.totalTime
          td= r.client
          td= r.reader
