extends layout
  
block content
  h1= 'Výstup'
  <form action="" method="get" class="input-group sm-2">
    <div class="input-group-prepend">
      label(for="start_date", class="input-group-text") od   
    </div>     
      input(name="start_date", value=`${start_date}`, class="form-control")
    <div class="input-group-prepend">
      label(for="end_date",class="input-group-text") do 
    </div>       
      input(name="end_date", value=`${end_date}`, class="form-control")
    <div class="input-group-prepend">
      label(for="client",class="input-group-text") výběr 
      select(name="client")
        option(value="" ) celá organizace
        each c in clientCodes
          if client == c
            option(value= c, selected)= c
          else
            option(value= c)= c
    </div>    
    <input type="submit" class="btn btn-primary" value="filtrovat">
  </form>
  </br>
  #report-table  
    if !client
      h2 Report pro: Celá organizace 
    else  
      h2 Report pro: #{client}
    h4 start: #{start_date}
    h4 konec: #{end_date}
    </br>
    table(class="table")
      thead
        tr
          th(scope="col")= 'Název činnosti'                
          th= 'Celkový čas (hh:mm:ss)'         
          th= 'Počet záznamů'

      tbody                
        each r in out.records
          tr
            td
              a(href='#' data-toggle="modal", data-target="#recodStatDetail")= r.name          
            td= r.totalTime           
            td= r.count
      tfoot
        tr
          td= 'Suma:'
          td= out.timeSum
          td= out.countSum
    if out.length == 0
    center Nebyly nalezeny žádné záznamy!
    br
  <a href="#" onclick="printDiv('report-table')" class="btn btn-secondary">Tisk / export pdf</a>

  <!-- Modal -->
    <div class="modal fade" id="recodStatDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detail záznamů pro: #{client || 'Celá organizace'}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="detail-modal">

          </div>
          <div class="modal-footer">
           <a href="#" onclick="printDiv('detail-modal')" class="btn btn-secondary">Tisk / export pdf</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>            
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="editModal">Editovat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>a</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
        <button type="button" id="edit-submit" class="btn btn-primary">Uložit změny</button>
        </div>
    </div>
    </div>
  </div>