extends layout
  
block content
  h1= 'Výstup'
  <form action="" method="get" class="input-group sm-2">
  <div class="input-group-prepend">
    label(for="start_date", class="input-group-text") od   
  </div>     
    input(name="start_date", value=`${start_date}`, class="form-control")
  <div class="input-group-prepend">
    label(for="end_date",class="input-group-text") do 
  </div>       
    input(name="end_date", value=`${end_date}`, class="form-control")    
    <input type="submit" class="btn btn-primary" value="filtrovat">
  <form>
  table(class="table")
    thead
      tr
        th(scope="col")= 'Nazev cinnosti'                
        th= 'Celkovy cas'
        th= 'Klient'
        th= 'Ctecka'
        th= 'Pocet zaznamu'

    tbody                
      each r in out
        tr
          td= r.name          
          td= r.totalTime
          td= r.client
          td= r.reader
          td= r.count
